# Data Cleaning Challenge - Airbnb in NYC

## 1. Project Overview

###### In this project, we aim to clean and preprocess the **Airbnb in NYC** dataset obtained from Kaggle. The dataset contains information about Airbnb listings in New York City, including details such as room types, price, availability, and location.

###### The dataset contains messy data such as missing values, outliers, and inconsistent entries that need to be cleaned to make the dataset ready for further analysis or modeling.

### Objectives

###### - Handle missing values
###### - Identify and remove duplicates
###### - Address inconsistent data
###### - Outlier Detection and Removal
###### - Perform feature engineering where necessary

## 2. Initial Data Exploration

### Load the Dataset

In [202]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
data = pd.read_csv('Airbnb_NYC.csv')
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### Explore the Data

In [203]:
# Get an overview of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [204]:
# Summary statistics of numerical columns
data.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [205]:
# Check for missing values
data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [206]:
# Check for duplicates
data.duplicated().sum()

np.int64(0)

In [207]:
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

## 3. Data Cleaning Steps

### Step 1: Handling Missing Values

##### Identify Missing Values

In [208]:
missing_values = data.isnull().sum()
missing_values[missing_values>0]

name                    16
host_name               21
last_review          10052
reviews_per_month    10052
dtype: int64

##### Handle Missing Values

###### - The dataset contains 16 missing values in the `name` column and 21 missing values in the `host_name` column.
###### - These missing values represent a very small portion of the dataset (0.03% for `name` and 0.04% for `host_name`).
###### - We chose to fill missing `name` values with `"No Name"` and missing `host_name` values with `"Unknown"` to avoid dropping rows unnecessarily while keeping the dataset clean and consistent.

In [209]:
# reviews_per_month : Listings without reviews likely have 0 reviews per month
data['reviews_per_month'] = data['reviews_per_month'].fillna(0)

# For last_review, either drop or fill with a placeholder
data['last_review']=data['last_review'].replace(np.nan,'No Review')

data['name'] = data['name'].fillna("No Name")

data['host_name'] = data['host_name'].fillna("Unknown")
data.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

### Step 2: Handling Duplicates

In [210]:
# No Duplicates Found 
data.duplicated().sum()

np.int64(0)

### Step 3: Inconsistent Data
##### Clear inconsistent Data

In [211]:
data['room_type'] = data['room_type'].str.lower()

unique_room_types = data['room_type'].unique()
print(unique_room_types)

['private room' 'entire home/apt' 'shared room']

### Step 4: Outlier Detection and Removal

###### Outliers are data points that differ significantly from the majority of the data. They can skew analysis and affect the performance

#### Price Outliers (Using IQR)

In [212]:
Q1 = data['price'].quantile(0.25)
Q3 = data['price'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
data = data[(data['price'] >= lower_bound) & (data['price'] <= upper_bound)]

## 4. Data Preprocessing (Feature Engineering)

### Convert Data Types

##### -  Convert `last_review` to datetime as it was given in string/object dtype.
###### - The issue is during cleaning we have replaced/filled null values in column with 'No Review' which is string bcz dropping 10000+ values is not reasonable.
###### - So now we cant directly convert string/obj 'No Review' to date time.
###### - Replace 'No Reviews' with NaT, Convert 'No Reviews' to NaT (Not a Time) so that it can be properly handled by pd.to_datetime

In [213]:
# Replace 'No Reviews' with NaT (Not a Time)
data['last_review']=data['last_review'].replace('No Reviews', pd.NaT)

# Now convert 'last_review' to datetime
data['last_review'] = pd.to_datetime(data['last_review'], errors='coerce')

print(data['last_review'].head())
print(data['last_review'].dtype)
print(data['last_review'].isna().sum())

0   2018-10-19
1   2019-05-21
2          NaT
3   2019-07-05
4   2018-11-19
Name: last_review, dtype: datetime64[ns]
datetime64[ns]
9012

#### -  Handling Missing Values in `last_review`.
###### - Decision to Keep `NaT` Values
###### - We have chosen to keep `NaT` (Not a Time) values in the `last_review` column. This approach acknowledges the presence of listings without
######   reviews and maintains the full dataset for comprehensive analysis.

In [214]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45923 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              45923 non-null  int64
 1   name                            45923 non-null  object
 2   host_id                         45923 non-null  int64
 3   host_name                       45923 non-null  object
 4   neighbourhood_group             45923 non-null  object
 5   neighbourhood                   45923 non-null  object
 6   latitude                        45923 non-null  float64
 7   longitude                       45923 non-null  float64
 8   room_type                       45923 non-null  object
 9   price                           45923 non-null  int64
 10  minimum_nights                  45923 non-null  int64
 11  number_of_reviews               45923 non-null  int64
 12  last_review                     36911 non-null  datetime64[ns]
 13  reviews_per_month               45923 non-null  float64
 14  calculated_host_listings_count  45923 non-null  int64
 15  availability_365                45923 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

In [216]:
data.to_csv('Cleaned_airbnb_nyc.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'Cleaned_airbnb_nyc.csv'

## Project Conclusion

#### The Airbnb in NYC dataset required multiple cleaning steps, including handling missing values, dealing with outliers, and ensuring consistency in room types. By the end of this project, the dataset was ready for analysis or modeling tasks.

#### Through this project, I learned how to handle a messy real-world dataset and perform essential data cleaning tasks. The cleaned dataset has improved data quality, making it easier for analysis and model training in future projects.